<!doctype html>
<html>
	<head>
		<title>{{ .Title }}</title>
	</head>
	<body>
		<nav>
			<a href="..">Home</a>
		</nav>
		<h1>
			{{ .Title }}
		</h1>
		<kbd>$ {{ .CmdLine }}</kbd>
		<div>
			{{- if or .Lines .IsRunning }}
			<pre id="output">
			{{- range .Lines }}
{{ .Text }}
			{{- end }}
</pre>
			{{- if .IsRunning }}
			<span id="running-indicator">...</span>
			{{- end }}
			{{- else }}
				No output. 
			{{- end }}
		</div>


		{{- if .IsRunning }}
		<script>
			(function() {
				var rID = "{{ .RunID }}";
				var tID = "{{ .TaskID }}";
				var numLines = {{ .NumLines }};
				var output = document.getElementById("output");
				if(numLines == 0) {
					output.innerHTML = "";
				}

				function fetch() {
					var r = new XMLHttpRequest();
					var url = "output?t=" + tID + "&r=" + rID + "&s=" + numLines;
					r.open("GET", url);
					r.onreadystatechange = function() {
						if(r.readyState != 4) {
							return;
						}

						if(r.status != 200) {
							console.error("Unexpected response status " + r.status);
							return;
						}

						var json = JSON.parse(r.responseText);
						for(var i = 0; i < json.length; i++) {
							numLines++;
							var line = json[i];
							output.innerHTML += line.Text + "\n";
						}

						if(r.getResponseHeader("Optask-Running") == "1") {
							setTimeout(fetch, 200);
						} else {
							document.getElementById("running-indicator").remove();
						}
					};
					r.send();
				};
				fetch();
			})();
		</script>
		{{- end }}
	</body>
</html>
