<!doctype html>
<html>
	<head>
		<title>{{ .Title }}</title>
	</head>
	<body>
		<nav>
			Home
		</nav>
		<h1>{{ .Title }}</h1>
		{{ with .Tasks }}
		<table>
			<thead>
				<tr>
					<th>Task</th>
					<th>Latest</th>
					<th>Run</th>
				</tr>
			</thead>
			<tbody>
			{{- range . }}
				<tr>
					<td>{{ .Name }}</td>
					<td>
						{{- if .LastRun.Exists }}
						<a href="details?t={{ .ID }}&r={{ .LastRun.ID}}">
							{{ with .LastRun }}
							{{- if .Running}}
							Started {{ .Duration.String }} ago
							{{ else }}
							Completed {{ .Duration.String }} ago
							{{ end }}
							{{ end }}
						</a>
						<a href="history?t={{ .ID }}">
							History
						</a>
						{{ else }}
							None
						{{ end }}
					</td>
					<td>
						<form action="run" method="POST">
							<input type="hidden" name="t" value="{{ .ID }}" />
							<input type="submit" value="Run" />
						</form>
					</td>
				</tr>
			{{ end }}
			</tbody>
		</table>
		{{ else }}
		<div>
			No tasks yet. Define some in your config file.
		</div>
		{{ end }}
	</body>
</html>
