<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ template "title" . }}</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    {{ template "content" . }}
    <span class="credits">
      Powered by <a href="https://github.com/ngrash/optask">optask</a>
    </span>
  </body>
</html>
