<!doctype html>
<html>
	<head>
		<title>{{ .Title }}</title>
	</head>
	<body>
		<nav>
			<ul>
				<li>
					<a href="..">&#8962; Home</a>
				</li>
			</ul>
		</nav>
		<h1>
			{{- if .IsRunning }}
				&#8987;
			{{- else }}
				&#9788;
			{{- end }}
			{{ .Title }}
		</h1>
		<kbd>$ {{ .CmdLine }}</kbd>
		<h2>Stderr</h2>
		<div class="std-stream stderr">
			{{- if .Stderr }}
			<pre>
			{{- range .Stderr }}
{{ . }}
			{{- end }}
			</pre>
			{{- else }}
				&#128077; No stderr. 
			{{- end }}
		<h2>Stdout</h2>
		<div class="std-stream stdout">
			{{- if .Stdout }}
			<pre>
			{{- range .Stdout }}
{{ . }}
			{{- end }}
			</pre>
			{{- else }}
				No stdout.
			{{- end }}
		</div>
	</body>
</html>
